<div class="card">
    <div class="card-body">
        <h2>{{ title }}</h2>
        <hr>
        <br><br>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Peso/Medida</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="cursor" *ngFor="let list of dataTable">
                    <th scope="row" (click)="alert(list)">{{ list.id }}</th>
                    <td (click)="alert(list)">
                      <p class="overflow-visible">
                        {{ list.producto }}
                      </p>
                    </td>
                    <td (click)="alert(list)">
                      <p class="overflow-visible">
                        {{ list.descripcion }}
                      </p>
                    </td>
                    <td (click)="alert(list)">
                      <p class="overflow-visible">
                        {{ list.pesoMedida }}
                      </p>
                    </td>
                    <td style="width: 15px;">
                      <span data-bs-toggle="tooltip" title="Agregar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                      </span>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
<br><br>
        <div class="text-right">
          <button type="button" class="btn btn-outline-secondary" (click)="regresar()" style="margin-right: 10px;">
              Regresar
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="hacerPedido()">
              Hacer pedido
          </button>
      </div>
    </div>
</div>
