.img {
    width: 100px;
}

p {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.overflow-visible {
    white-space: initial;
}

.imagen {
    width: 70px;
    height: 90px;
}

.card-img-top{
    height: 190px;
}

.card-body {
    text-align: center;
}

.card-text {
    text-align: left;
    white-space: initial;
    box-sizing: content-box;
    width: 100%;
}

.card-center{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-width {
    width: 18rem;
}

.plus {
    font-size: 28px;
}

.bi-plus{
    color: black;
}

.container-buscar{
  display: flex;
  justify-content: center;
}

.buscar {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .buscar {
    width: 100%;
  }
}
