<div class="card">
    <div class="card-body">
        <h2>{{ title }}</h2>
        <hr>
        <br><br>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Peso/Medida</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cursor" *ngFor="let list of dataTable" (click)="alert(list)">
                    <th scope="row">{{ list.id }}</th>
                    <td>
                      <p class="overflow-visible">
                        {{ list.producto }}
                      </p>
                    </td>
                    <td>
                      <p class="overflow-visible">
                        {{ list.descripcion }}
                      </p>
                    </td>
                    <td>
                      <p class="overflow-visible">
                        {{ list.pesoMedida }}
                      </p>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
