.col1 {
  width: 350px;
}

.col2 {
  width: 150px;
}

.aviso {
  cursor: pointer;
  font-size: 12px;
}

@media screen and (max-width: 670px) {
  .row{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .col1 {
    font-size: 15px;
  }
}
