<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="row" style="width: 100%; ">
      <div class="col1">
        <span class="navbar-text">
          MATERIALES PARA CONSTRUCCIÓN CRUZ
        </span>
      </div>
      <div class="col2">
        <span class="navbar-text aviso"  data-bs-toggle="modal" data-bs-target="#avisoPrivacidad">
          Aviso de privacidad
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="avisoPrivacidad" tabindex="-1" aria-labelledby="avisoPrivacidadLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avisoPrivacidadLabel">Aviso de privacidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!--
  aviso de privacidad
https://www.cmoctezuma.com.mx/aviso-de-privacidad.htm
-->
