<div class="row">
  <div class="card">
    <div class="card-body">
      <h2>Compras por teléfono</h2>
      <hr>
      <p>Puedes realizar tus compras llamando al Teléfono: <strong>(55) 5304-4131</strong> donde un asesor podrá ayudarte a realizar tu compra.</p>
      <p>Nuestro horario es de lunes a viernes de 08:00 a las 19:00, sábado de 7:00 a las 16:00 horas y domingo de 9:00 a las 14:00 horas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>Lista de artículos</h2>
          <hr>
          <app-carrito></app-carrito>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
