.imagen {
    width: 70px;
    height: 90px;
}

.card-img-top{
    height: 200px;
}

.card-body {
    text-align: center;
}

.card-text {
    text-align: left;
    white-space: initial;
    box-sizing: content-box;
    width: 100%;
}

.card-center{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-width {
    /*
    background-color: rgb(26, 134, 167);
    */
    width: 22rem;
}