<div class="card">
    <div class="card-body">
      <h2>Catálogos</h2>
      <hr>
      <div class="row margin-bottom">
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Construcción</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(1)">Catalogo 1</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard2" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Plomería</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(2)">Catalogo 2</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard3" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eléctrico</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(3)">Catalogo 3</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard4" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hogar</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(4)">Catalogo 4</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard5" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Instalación de gas</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(5)">Catalogo 5</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-color-blue" style="width: 18rem;">
            <img class="card-img-top" id="imgCard6" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eléctrico</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary btn-block" type="button" (click)="detalleCatalogo(6)">Catalogo 6</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>