<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2>Mandanos un mensaje</h2>
        <hr>
        <form #formMensaje="ngForm" (ngSubmit)="enviarMensaje()">
          <label class="form-label" for="">Nombre completo: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.nombre" name="nombre" required>
          <label class="form-label" for="">Correo Electrónico: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.correo" name="correo" required>
          <label class="form-label" for="">Asunto: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.asunto" name="asunto" required>
          <label class="form-label" for="">Mensaje: <span class="ast-obligatorio">*</span></label>
          <textarea class="form-control" rows="7" [(ngModel)]="mensaje.mensaje" name="mensaje" required></textarea>

          <div class="row modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!formMensaje.valid">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-color-black">
      <div class="card-body">
        <h2>UBICACIÓN</h2>
        <hr>
        <iframe
          id="urlMapa"
          width="100%"
          height="300"
          frameborder="0"
          style="border:0"
          allowfullscreen>
        </iframe>
        <br><br>
        <h5>MATERIALES PARA CONSTRUCCIÓN CRUZ</h5>
        <p class="text-justify">Camino nuevo a huixquilucan, Mz 6 Lt 6, Col. El Pedregal, Huixquilucan, Edo de Mex, C.P. 52774</p>
        <P>TELÉFONOS</P>
        <ul>
          <li>(55) 5304-4131</li>
          <li>(044 55) 3135-9691</li>
        </ul>
        <P>EMAIL</P>
        <ul>
          <li>honoriocruzg@hotmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>