<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2>Mandanos un mensaje</h2>
        <hr>
        <app-form-email component="contacto"></app-form-email>
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-6">
    <div class="card card-color-black">
      <div class="card-body">
        <h2>UBICACIÓN</h2>
        <hr>
        <iframe
          title="Ubicación"
          id="urlMapa"
          width="100%"
          height="300"
          style="border:0"
          allowfullscreen>
        </iframe>
        <br><br>
        <h5>MATERIALES PARA CONSTRUCCIÓN CRUZ</h5>
        <p class="text-justify">Camino nuevo a huixquilucan, Mz 6 Lt 6, Col. El Pedregal, Huixquilucan, Edo de Mex, C.P. 52774</p>
        <P>TELÉFONOS</P>
        <ul>
          <li>(55) 5304-4131</li>
          <li>(55) 3135-9691</li>
        </ul>
        <P>EMAIL</P>
        <ul>
          <li>
            <a href="mailto:honoriocruzg@hotmail.com">honoriocruzg@hotmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--

  <app-footer></app-footer>
-->
