<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2>Mandanos un mensaje</h2>
        <form #formMensaje="ngForm" (ngSubmit)="enviarMensaje()">
          <label class="form-label" for="">Nombre completo: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.nombre" name="nombre" required>
          <label class="form-label" for="">Correo Electrónico: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.correo" name="correo" required>
          <label class="form-label" for="">Asunto: <span class="ast-obligatorio">*</span></label>
          <input class="form-control" type="text" [(ngModel)]="mensaje.asunto" name="asunto" required>
          <label class="form-label" for="">Mensaje: <span class="ast-obligatorio">*</span></label>
          <textarea class="form-control" rows="7" [(ngModel)]="mensaje.mensaje" name="mensaje" required></textarea>

          <div class="row modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!formMensaje.valid">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-color-black">
      <div class="card-body">
        <h2>UBICACIÓN</h2>
        <br>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4619.759383638628!2d-99.27733112597245!3d19.420584217235273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43a3aa2634705152!2sCRUZ!5e0!3m2!1ses-419!2smx!4v1562352837797!5m2!1ses-419!2smx"
          width="100%"
          height="300"
          frameborder="0"
          style="border:0"
          allowfullscreen>
        </iframe>
        <br><br>
        <h4>Materiales para construcción Cruz</h4>
        <p>Camino nuevo a huixquilucan, Mz 6 Lt 6, Col. El Pedregal, Huixquilucan, Edo de Mex, C.P. 52774</p>
        <h4>TELÉFONOS</h4>
        <p>(55)5304-4131</p>
        <p>(044 55)-3135-9691</p>
        <h4>EMAIL</h4>
        <p>honoriocruzg@hotmail.com</p>
      </div>
    </div>
  </div>
</div>