<div class="row" style="text-align: center;">
  <h4 *ngIf="flag">Carrito vacio</h4>
</div>
<div *ngIf="!flag" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Medida</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio Unidad</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of listCar">
        <th scope="row">{{ list.id }}</th>
        <td>{{ list.cantidad }}</td>
        <td>{{ list.medida }}</td>
        <td>{{ list.producto }}</td>
        <td>{{ list.precioUnidad | convertText:'moneda' }}</td>
        <td>{{ list.subTotal | convertText:'moneda' }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th scope="row">Total articulos</th>
        <td>{{ totalArticulos }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th scope="row">Total (mxn)</th>
        <td>{{ totalPrecio | convertText:'moneda' }}</td>
      </tr>
    </tbody>
  </table>
</div>
